<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852209026200-t4uhjfjb6lh6a8bhddo6s8upsr3js93h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852209026200-t4uhjfjb6lh6a8bhddo6s8upsr3js93h</string>
	<key>API_KEY</key>
	<string>AIzaSyCTOCZDVMxpNkkpO4_yHHnBnJ76Zs8zepw</string>
	<key>GCM_SENDER_ID</key>
	<string>852209026200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.tpos.tposmobile-f</string>
	<key>PROJECT_ID</key>
	<string>tposmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>tposmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852209026200:ios:30aebd309f021230</string>
	<key>DATABASE_URL</key>
	<string>https://tposmobile.firebaseio.com</string>
</dict>
</plist>